{
    "ocr_enabled": true,
    "ocr_lang": "ch",
    "description_enabled": true,
    "description_model": "Salesforce/blip-image-captioning-large",
    "translation_enabled": true,
    "local_translation_enabled": true,
    "local_translation_model": "Helsinki-NLP/opus-mt-en-zh",
    "llm_translation_enabled": true,
    "llm_translation_model": "",
    "llm_translation_endpoint": "",
    "llm_translation_api_key": "",
    "llm_translation_temperature": 0.1,
    "llm_translation_max_tokens": 1024,
    "llm_translation_prompt": "",
    "ocr_threshold": 0.8,
    "download_whitelist_enabled": false,
    "download_allowed_urls": [
        "https://github.com/*"
    ],
    "download_check_sha1": false,
    "download_max_size": 2048,
    "env": {
        "HF_ENDPOINT": "https://hf-mirror.com"
    }
}